# ========================
# Maven
# ========================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# ========================
# Spring Boot
# ========================
*.log
logs/
spring.log

# ========================
# IntelliJ IDEA
# ========================
.idea/modules.xml
.idea/misc.xml
*.iws
*.ipr
.idea
out/

# ========================
# Eclipse / STS
# ========================
.classpath
.project
.settings/
.springBeans
.sts4-cache/
bin/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Overrides locales
# ========================
application-local.yml
application-local.properties

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# Temporales
# ========================
*.tmp
*.bak
*.swp
*~
